@import "app/variables.scss";

.HtmlViewer {
  overflow-x: hidden;
  padding: $bard-grid-size;
  box-shadow: $pt-elevation-shadow-1;
  margin-bottom: 2 * $bard-grid-size;
  line-height: 1.4;
  font-size: 1.1 * $bard-font-size;
}