@import "app/mixins.scss";
@import "app/variables.scss";

$navbar-horizontal-padding: $bard-grid-size*.8;

.Navbar {
  .bp3-navbar {
    display:flex;
    padding: 0 $bard-content-padding;
    justify-content: space-between;
    background-color: $dark-gray1 !important;
  }


  .back-button {
    display: none;
  }

  a {
    color: inherit;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  form {
    .bp3-control-group {
      width: 100%;
      align-items: center;
    }
    input {
      background: #fff;
      color: $pt-text-color;
    }

  }

}
