@import "app/variables.scss";

.DocumentUploadForm {
  &__secondary {
    padding-top: $bard-grid-size;
  }

  &__hidden-input {
    visibility: hidden;
    position:absolute;
    height: 0;
    width: 0;
  }
}