@import "app/variables.scss";
@import "app/mixins.scss";

$transition-duration: .3s;
$sidebar-padding: $bard-grid-size*2;


.InvestigationSidebar {
  width: $bard-investigation-sidebar-width;
  @include rtlSupportInvertedProp(border, right, 1px solid $bard-border-color, none);
  @include rtlSupportInvertedProp(margin, right, $bard-content-padding, 0);
  @include rtlSupportInvertedProp(padding, right, $bard-content-padding, 0);

  @media screen and (max-width: $bard-screen-sm-max-width) {
    width: 100%;
    border: none !important;
    border-bottom: 1px solid $bard-border-color !important;
    margin: 0 0 $bard-content-padding !important;
    padding: 0 0 $bard-content-padding !important;
  }

  .SchemaCounts {
    margin-bottom: $bard-grid-size;
  }

  &__content {
    @media screen and (min-width: 450px) and (max-width: $bard-screen-sm-max-width) {
      display: flex;
      align-items: flex-start;
      margin: -$bard-content-padding/2;
    }
  }

  &__section {
    padding: 15px;
    border-radius: 5px;
    background: $light-gray5;
    margin: $bard-content-padding 0;
    border: none;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: 450px) and (max-width: $bard-screen-sm-max-width) {
      width: 50%;
      margin: $bard-content-padding/2;
    }

    &__title.bp3-heading {
      color: $bard-investigation-theme;
      padding-bottom: 5px;
    }
  }
}